/*body {
  position: relative;
}
.project-container {
  position: absolute;
  left: 0;
  width: 511px;
  border-right: 1px solid #eee;
  padding: 20px 10px;
}
.testcase-container {
  margin-left: 512px;
  width: 512px;
  padding: 20px 10px;
}*/

.top-nav-bar{
  margin-bottom: 10px;
}

.testcase-steps li{
  position: relative;
  height: 60px
}
.testcase-steps .display-screen-crop{
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top:5px;
  left:150px;
}
.testcase-steps img.display-screen{
  /*position: absolute;*/
  /*width: 100px;*/
  /*height: 100px;*/
}