<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RecFlow</title>

  <link href="../../node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet" />
  <link href="../../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="../../css/app.css" rel="stylesheet" />
</head>
<body>

  <div class="">
    <div ng-controller="MainCtrl as vm" class="row ng-cloak">
      
      <div class="top-nav-bar">
        <ul id="device-list" class="dropdown-content">
          <li ng-repeat="device in vm.devices">
            <a href 
              ng-class="{'active':device.id == vm.currentDeviceID}"
              ng-click="vm.selectDevice(device.id)">{{device.id}}</a>
          </li>
        </ul>
        <nav>
          <div class="nav-wrapper">
            <ul class="hide-on-med-and-down">
              <li>
                <a class="dropdown-button" href data-activates="device-list">
                  Devices {{vm.currentDeviceID}}
                  <i class="fa fa-chevron-down"></i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="project-container col s6">
        <a href id="main-record-btn" class="btn waves-effect waves-light red diabled" ng-click="vm.record()" ng-if="!vm.state.recording">
          <i class="left fa fa-circle"></i>
          <font class="">Record</font>
        </a>

        <a href class="btn waves-effect waves-light red diabled ng-cloak" ng-click="vm.stop()" ng-if="vm.state.recording">
          <i class="left fa fa-square"></i>
          <font class="">Stop</font>
        </a>

        <a href class="btn waves-effect waves-light disabled">
          <i class="left fa fa-play"></i>
          <font class="">Play All</font>
        </a>

        <div class="progress">
          <div class="determinate red" style="width: 0%" ng-if="!vm.state.recording"></div>
          <div class="indeterminate red" ng-if="vm.state.recording"></div>
        </div>
        <div class="testcase-section">
          <ul class="testcase-list collection">
            <li class="collection-item"
              ng-repeat="tc in vm.projectSetting.testCases track by $index"
            >
              <a href class="show-testcase-steps"
                ng-click="vm.showTestCaseSteps(tc.id)"
                >
                {{tc.name}}
              </a>
              <div class="secondary-content">
                <a href class="display-testcase"
                  ng-click="vm.playbackTestCase(tc.id)"
                  >
                  <i class="fa fa-play"></i>
                  Play
                </a>
                <a class="dropdown-button testcase-function" href data-activates="testcase-function-{{$index}}">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul id="testcase-function-{{$index}}" class="dropdown-content">
                  <li>
                    <a href 
                      ng-click="vm.deleteTestCase(tc.id)">Delete</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div><!-- project-container -->
      
      <div class="testcase-container col s6">
        <ul class="collection testcase-steps">
          <li class="collection-item" 
            ng-repeat="step in vm.testCase.steps track by $index">
            {{step.name}}
            <div class="display-screen-crop">
              <img ng-src="{{step.displayScreen}}" alt="screen" class="display-screen"
                style="{{step.clip|cssClip}}"
                ng-if="step.displayScreen">
            </div>
          </li>
        </ul>
      </div><!-- testcase-container -->
      <!--a class="btn modal-trigger" href="#save-testcase">Modal</a-->

      <!-- modal -->
      <div id="save-testcase" class="modal">
        <div class="modal-content">
          <h4>Save Test Case</h4>
          <p>
            <div class="row">
              <div class="input-field col s6">
                <input id="testcase-name" type="text" class="validate" 
                  ng-model="vm.newTestCaseName" ng-enter="vm.saveTestCase()">
                <label for="testcase-name">Name</label>
              </div>
            </div>
          </p>
        </div>
        <div class="modal-footer">
          <a href class="btn-flat"
            ng-click="vm.saveTestCase()"
            >
            Save
          </a>
          <a href class="modal-action modal-close btn-flat"
            ng-click="vm.cancelTestCase()">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/angular/angular.min.js"></script>
  <!--script src="../../node_modules/pouchdb/dist/pouchdb.min.js"></script-->
  <script src="../../node_modules/hammerjs/hammer.min.js"></script>
  <script src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <!-- load a script in a server-side context -->
  <script>require('./main.controller.js');</script>
  
  <script src="../../js/config.js"></script>
  <script src="../../js/utils.js"></script>
  <script src="../../js/services.js"></script>
  <script src="../../js/filters.js"></script>
  <script src="./main.view.js"></script>
  <script>
    angular
      .element(document)
      .ready(function() {
        angular.bootstrap(document.body, ['MainView']);
      });
    $(document).ready(function(){
      $('.modal-trigger').leanModal();
    });
  </script>
</body>
</html>
